*~
# Build results

.sass-cache/*
*/.sass-cache/*
*.tmp
.tmp/*

dist/*
*~

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac detritus
.DS_Store

*/node_modules/*
.node_modules/*
node_modules/*
assets/prerender/*
assets/public/*

npm-debug.log