
.item {
  display: block;
  font-size: 1em;
  line-height: 1.416666667em;
  padding: 1em;
  text-decoration: none;
  float: none;
  border-top: 1px solid $dark_primary_color;
  color: $light_primary_color;
}

.item:hover,
.item:active {
    background: $dark_primary_color;
    color: white;
  }

.item.itemActive {
  background: $dark_primary_color;
  color: white;
}

@media (min-width: 768px) {
  .item {
    float: left;
    display:inline-block;
    border-top: 0;
  }
}