@import "../variables.scss";

html {
  font-family: "Arial";
  box-sizing: border-box;
  background: #f7f7f7;
}

body {
  font-size: 1.125em;
  line-height: 1.388888889em;
  margin: 0 auto;
}

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}


.heading__page-title {
  color: $primary-text-color;
  font-size: 2.388888889em;
  line-height: 1.162790698em;
  margin-top: 1.1627907em;
  margin-bottom: 0.58139535em;
}
.heading__subtitle {
  color: $primary-text-color;
  font-size: 1.777777778em;
  line-height: 1.5625em;
  margin-top: 1.5625em;
  margin-bottom: 0.78125em;
}
.heading__section-title {
  color: $primary-text-color;
  font-size: 1.333333333em;
  line-height: 1.041666667em;
  margin-top: 1.04166667em;
  margin-bottom: 1.04166667em;
}
.heading__section-subtitle {
  color: $primary-text-color;
  font-size: 1em;
  line-height: 1.388888889em;
  margin-top: 1.38888889em;
  margin-bottom: 1.38888889em;
}

.paragraph,
.list,
.pre,
.table,
.blockquote {
  margin-top: (34/24)em;
  margin-bottom: (34/24)em;

  &--bold,
  &--italic,
  &--small,
  &--code {
    line-height: 1;
  }
}

/* Sanitation */
.divider {
  border: 1px solid;
  margin: -1px 0;
}
.list__sublist{
  margin-top: 0;
  margin-bottom: 0;
}