@import "../variables.scss";
@import "../clearfix.scss";

.navigation {
  background: $primary-color;
  display: block;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
}

.navigation__clearfix {
  @include clearfix;
}

.navigation__wrapper {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.navigation__brand {
  padding: 1em 1em 1em 0;
  line-height: 1.416666667em;
  float: left;
  color: white;
  display: inline-block;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navigation{
    position:relative;
  }
  .navigation__brand {
    padding: 1em 1em 1em 0;
    line-height: 1.416666667em;
    color: white;
    display: inline-block;
    text-decoration: none;
  }
}