
.navigationMenu {
  display:block;
  max-height:0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.navigationMenuOpen {
  opacity: 1;
  height: auto;
  max-height: 100%;
  clear:both;
  transition: opacity 0.25s ease;
}

@media(min-width:768px){
  .navigationMenu {
    display:inline;
    opacity: 1;
    max-height: 100%;
  }
}