.navigation {
  background: $primary_color;
  display: block;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  top:0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.brand {
  padding: 1em 1em 1em 0;
  line-height: 1.416666667em;
  float: left;
  color: white;
  display: inline-block;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navigation {
    position: relative;
  }

  .brand {
    padding: 1em 1em 1em 0;
    line-height: 1.416666667em;
    color: white;
    display: inline-block;
    text-decoration: none;
  }
}