$primary_color       : #673AB7;
$dark_primary_color  : #512DA8;
$light_primary_color : #D1C4E9;
$accent_color        : #448AFF;
$primary_text_color  : #212121;
$secondary_text_color: #727272;
$divider_color       : #B6B6B6;
