.pageTitle {
  color: $primary_text_color;
  font-size: 2.388888889em;
  line-height: 1.162790698em;
  margin-top: 1.1627907em;
  margin-bottom: 0.58139535em;
}
.subTitle {
  color: $primary_text_color;
  font-size: 1.777777778em;
  line-height: 1.5625em;
  margin-top: 1.5625em;
  margin-bottom: 0.78125em;
}
.sectionTitle {
  color: $primary_text_color;
  font-size: 1.333333333em;
  line-height: 1.041666667em;
  margin-top: 1.04166667em;
  margin-bottom: 1.04166667em;
}
.sectionSubtitle {
  color: $primary_text_color;
  font-size: 1em;
  line-height: 1.388888889em;
  margin-top: 1.38888889em;
  margin-bottom: 1.38888889em;
}

