
.menuControl {
  display: inline-block;
  margin: 1em;
  float:left;
}

.icon {
  float: left;
  content: '';
  cursor: pointer;
  color: white;
  display: inline-block;
  border-radius: 5px;
  width: 1.41667em;

}

.icon:after {
  margin-top: 8px;
}

.icon:before {
  margin-bottom: 8px;
}

.icon .iconInner {
  margin-bottom: 8px 0;
}

.icon:after,
.icon:before,
.icon .iconInner {
  background-color: #fff;
  content: '';
  display: block;
  height: 2px;
  transition: all .2s ease-in-out;
}

.iconActive:before {
  transform: translateY(10px) rotate(135deg);
}

.iconActive:after {
  transform: translateY(-10px) rotate(-135deg);
  -moz-transform: translateY(-10px) rotate(-135deg);
  -webkit-transform: translateY(-10px) rotate(-135deg);
}

.iconActive .iconInner {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

@media (min-width: 768px) {
  .icon {
    display: inline-block;
    float: left;
  }

  .menuControl {
    display: none;
  }
}